*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

div {
  border: 3px solid black;
}

button {
  color: rgb(253, 61, 93);
  background-color: white;
  border: 10px solid rgb(253, 61, 93);
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  font-size: 35px;
  padding: 20px;
  position: relative;
  left: 50%;
  margin-right: 25%;
  top:100px;
  transition: all 0,5s;
}

button:hover {
  transform: scale(1.05);
  background-color: rgb(253, 61, 93);
  color: white;
  box-shadow: 10px 10px 15px rgb(208, 69, 92);
  cursor: pointer;
}


.head {
  width: 410px;
  height: 356px;
  background: #f5d9b9;
  border-radius: 36% 64% 40% 60% / 10% 84% 16% 90%;
  transform: rotate(-37deg);
  position: relative;
  top: 200px;
  left: 33%;
}

.eye {
  background-color: white;
  border-radius: 50%;
}

#eye-one {
  width: 93px;
  height: 89px;
  position: absolute;
  top: 60px;
  left: 50px;
}

#eye-one::before {
  content: "";
  width: 87px;
  height: 33px;
  background-color: #f5d9b9;
  border: 3px solid black;
  position: absolute;
  left: 18px;
  top: 4px;
  border-radius: 51% 49% 100% 0% / 100% 100% 0% 0%;
  transform: rotate(39deg);
}

#eye-one::after {
  content: "";
  width: 90px;
  height: 39px;
  background-color: #f5d9b9;
  border: 3px solid black;
  position: absolute;
  top: 40px;
  right: 15px;
  border-radius: 100% 0% 53% 47% / 0% 0% 100% 100%;
  transform: rotate(41deg);
}

#eye-two {
  width: 92px;
  height: 99px;
  position: absolute;
  top: 200px;
  right: 80px;
}

#eye-two::before {
  content: "";
  width: 88.5px;
  height: 34px;
  background-color: #f5d9bb;
  border: 3px solid black;
  position: absolute;
  left: 15px;
  top: 4px;
  border-radius: 51% 49% 100% 0% / 100% 100% 0% 0%;
  transform: rotate(35deg);
}

#eye-two::after {
  content: "";
  width: 90px;
  height: 39px;
  background-color: #f5d9b9;
  border: 3px solid black;
  position: absolute;
  top: 50px;
  right: 12px;
  border-radius: 100% 0% 53% 47% / 0% 0% 100% 100%;
  transform: rotate(35deg);
}

.eyeball {
  width: 16px;
  height: 16px;
  border: none;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

#ball-one {
  left: 40px;
  top: 30px;
}

#ball-two {
  right: 30px;
  top: 33px;
}

.eyebrow {
  position: absolute;
  width: 60px;
  height: 5px;
  background-color: black;
  border: none;
}

#eyebrow-one {
  transform: rotate(60deg);
  left: 57px;
  top: -5px;
}

#eyebrow-two {
  transform: rotate(20deg);
  left: 50px;
  top: -5px;
}

.nose {
  width: 42px;
  height: 24px;
  background-color: #f5d9b9 ;
  border: none;
  border-top: 3px solid black;
  transform: rotate(-15deg);
  position: absolute;
  right: 130px;
  bottom: 100px;
}

.nose::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #f5d9b9;
  position: absolute;
  left: -18px;
  bottom: 5px;
  border-radius: 30%;
  border: none;
  border-right: 4px solid black;
}

.mouth {
  border: none;
  width: 87px;
  height: 31px;
  border-radius: 48% 52% 53% 47% / 32% 48% 52% 68% ;
  background-color: #f5d9b9;
  transform: rotate(39deg);
  position: absolute;
  right: 150px;
  top: 20px;
  border-top: 3px solid black;
}

.mouth::before {
  content: "";
  width: 2px;
  height: 15px;
  background-color: black;
  position: absolute;
  bottom: 25px;
  left: 5px;
  transform: rotate(27deg);
}

.mouth::after {
  content: "";
  width: 2px;
  height: 10px;
  background-color: black;
  position: absolute;
  bottom: -1;
  left: 20px;
  transform: rotate(-45deg);
}

.ear {
  width: 39px;
  height: 39px;
  border-radius: 50px;
  background-color: #f5d9b9;
  position: absolute;
  border-left: none;
  transform: rotate(30deg);
}

#ear-one {
  left: 150px;
  top: 80px;
}

#ear-one::before {
  content: "";
  width: 15px;
  height: 18px;
  background-color: #f5d9b9;
  position: absolute;
  left: 11px;
  bottom: 7px;
  border-radius: 30%;
  border: none;
  border-width: 2px;
  border-right: 2px solid black;
  transform: rotate(220deg);
}

#ear-one::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f5d9b900;
  position: absolute;
  left: 10px;
  bottom: 9px;
  border-radius: 30%;
  border: none;
  border-width: 2px;
  border-right: 2px solid black;
  transform: rotate(-20deg);
}


#ear-two {
  transform: rotate(-130deg);
  border-radius: 21% 79% 59% 41% / 45% 55% 45% 55% ;
  right: 295px;
  bottom: 245px;
}

#ear-two::before {
  content: "";
  width: 35px;
  height: 37px;
  background-color: #f5d9b9;
  position: absolute;
  left: -5px;
  border-radius: 50%;
  border: none;
}

#ear-two::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #f5d9b9;
  position: absolute;
  left: 13px;
  bottom: 13px;
  border-radius: 30%;
  border: none;
  border-width: 2px;
  border-right: 2px solid black;
  transform: rotate(130deg);
}

.hair {
  width: 60px;
  height: 45px;
  background-color: rgba(136, 38, 38, 0);
  border-radius: 58% 42% 47% 53% / 38% 55% 45% 62% ;
  border-width: 3px 0px 0px 0px;
  position: absolute;
}

#hair-zero {
  bottom: 190px;
  left: 50px;
  transform: rotate(30deg);
  
}

#hair-one {
  left: 85px;
  top: -90px;
  transform: rotate(37deg);
}

#hair-two {
  left: 115px;
  top: -30px;
  width: 50px;
  height: 40px;
  transform: rotate(40deg);
  
}

#hair-three {
  left: 135px;
  top: 20px;
  width: 40px;
  height: 30px;
  transform: rotate(50deg);
}

#hair-four {
  top: -175px;
  width: 70px;
  height: 35px;
  transform: rotate(10deg);
}

#hair-five {
  bottom: 257px;
  right: 75px;
  width: 65px;
  height: 40px;
  transform: rotate(4deg);
}

#hair-six {
  bottom: 277px;
  right: 145px;
  width: 65px;
  height: 25px;
  transform: rotate(-15deg);
}

#hair-seven {
  bottom: 275px;
  right: 205px;
  width: 40px;
  height: 25px;
  transform: rotate(-30deg);
}

#hair-eight {
  bottom: 270px;
  right: 250px;
  width: 40px;
  height: 25px;
  transform: rotate(-30deg);
}


