*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: rgb(250, 248, 245);
  --secondary-color: rgb(0, 0, 0);
  --tertiary-color: rgb(180, 192, 201);
  --quaternary-color: rgb(228, 238, 241);
  --quinary-color: rgb(143, 183, 206);
  --senary-color: rgb(123, 157, 177);
  --septenary-color: rgb(92, 132, 167);
  --octonary-color: rgb(176, 175, 175);
}


.dark-theme {
  --primary-color: rgb(33, 35, 38);
  --secondary-color: rgb(255, 255, 255);
  --tertiary-color: rgb(43, 53, 63);
  --quaternary-color: rgb(67, 81, 93);
  --quinary-color: rgb(129, 141, 159);
  --senary-color: rgb(93, 105, 126);
  --septenary-color: rgb(70, 83, 113);
  --octonary-color: rgb(233, 228, 228);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  color: var(--secondary-color);
}

p,
a {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  word-spacing: 3px;
  line-height: 23px;
  color: var(--secondary-color);
}

span {
  font-family: 'Raleway', sans-serif;
  word-spacing: 3px;
  line-height: 23px;
}

button{
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
}

header li a,
header a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 16px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 62px;
  padding: 0 80px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0px 6px 10px rgba(29, 63, 75, 0.2);
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.logo:hover {
  color: rgb(45, 102, 122);
}

.logo:active {
  color: rgb(29, 63, 75);
}

header div:nth-child(2) {
  position: relative;
}

header div:nth-child(2) button {
  padding: 10px;
  background-color: transparent;
  position: absolute;
  top: -13px;
  cursor: pointer;
}

header div:nth-child(2) i,
.icona-menu,
.icona-close {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

header div:nth-child(2) {
  position: absolute;
  left: 50%;
  right: 25%;
  display: none;
}

#sun-icon {
  color: rgb(255, 255, 255);
  display: none;
}


.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  margin-bottom: 0;
}

.nav-bar li {
  font-size: 16px;
  padding: 4px;
}

.nav-bar li a {
  font-size: 16px;
}

.nav-bar li:nth-child(1) a:hover,
.nav-bar li:nth-child(2) a:hover {
  color: rgb(45, 102, 122);
}

.nav-bar li:nth-child(1) a:active,
.nav-bar li:nth-child(2) a:active {
  color: rgb(29, 63, 75);
}

header div:nth-child(3) button {
  background-color: transparent;
  border: 2px solid rgb(29, 63, 75);
  box-shadow: 4px 4px 6px rgba(29, 63, 75, 0.2);
}

header div:nth-child(3) button:hover {
  border: 2px solid rgba(29, 63, 75, 0);
  background-color: rgba(29, 63, 75, 0.463);
}

header div:nth-child(3) button:active {
  background-color: rgba(29, 63, 75, 0.591);
}

.icona-menu {
  position: absolute;
  right: -20px;
  z-index: 100;
  padding: 4px;
}

.icona-close {
  position: absolute;
  padding: 4px;
  right: 16px;
  top: 16px;
  font-size: 20px;
}

#menu-div {
  position: fixed;
  right: 0;
  top: 0;
  display: none;
}

#menu-div::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 1000vh;
  background-color: rgba(204, 228, 239, 0.107);
  right: 0;
  top: 0;
  -webkit-backdrop-filter:blur(1.5px);
  backdrop-filter: blur(1.5px);
}

.menu {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 1000vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  padding: 164px 0px 64px 64px;
  background-color: rgb(122, 143, 166);
  transition: 0.4s;
  box-shadow: -15px 0px 26px -13px rgb(29, 63, 75, 0.4) ;
}

.menu p,
.menu a {
  font-size: 24px;
  text-transform: uppercase;
}


.menu div:last-child {
  position: fixed;
  bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.menu div:last-child .icona {
  font-size: 32px;
}


@media ( max-width: 992px){

  .nav-bar {
    display: none;
  }

  .icona-menu {
    right: 80px;
  }

  .icona-close {
    right: 36px;
  }

  .menu div:last-child .icona {
    font-size: 32px;
  }

}

@media ( max-width: 576px) {

  .menu {
    width: 100%;
    align-items: center;
    padding-left: 0;
    gap: 40px;
  }

  .menu p,
  .menu a {
    font-size: 32px;
  }

}



.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px 160px 16px 160px;
  height: 738px;
  gap: 16px;
}

.home h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 200;
  margin-bottom: 0;
  line-height: 94px;
  letter-spacing: 5px;
  }

.home div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  margin: 0px 32px;
}

.home div:nth-child(1) p {
  text-align: center;
  color: var(--octonary-color);
}

.home div:nth-child(1) p:nth-child(1) {
  margin-bottom: 44px;
}

.home div:nth-child(1) p:nth-child(3) {
  margin-top: 44px;
  margin-bottom: 0;
}

.home div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.home div:last-child div:nth-child(1) {
  width: 400px;
  height: 400px;
  background-color: var(--secondary-color);
  border-radius: 48% 52% 44% 56% / 63% 40% 60% 37%;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 6px rgba(29, 63, 75, 0.2);
}

.home div:last-child div:nth-child(1) img {
  width: 400px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.home div:last-child div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.icona {
  font-size: 24px;
  color: var(--secondary-color);
  padding: 3px;
}

.icona:hover,
.menu p:hover,
.menu a:hover {
  color: rgb(143, 194, 212);
}

.icona:active,
.menu p:active,
.menu a:active{
  color: rgb(45, 102, 122);
}


@media ( max-width: 992px) {

  .home {
    flex-direction: column;
    margin: 84px 80px 64px 80px;
    height: 1200px;
  }

  .home h1 {
    font-size: 90px;
  }

  .home div:nth-child(1) p:nth-child(1) {
    margin-bottom: 28px;
  }

  .home div:last-child {
    flex-direction: column;
  }

  .home div:last-child div:nth-child(1) {
    width: 350px;
    height: 350px;
  }

  .home div:last-child div:nth-child(1) img {
    width: 350px;
    height: 350px;
  }

  .home div:nth-child(1) p:nth-child(3) {
    margin-top: 28px;
  }

  .home div:last-child div:nth-child(2) {
    height: fit-content;
  }

}


.about-section {
  height: fit-content;
  margin: 0 160px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--quaternary-color);
  margin-bottom: 64px;
  box-shadow: 0px 6px 10px rgba(29, 63, 75, 0.2);
}

.about-section h2 {
  margin: 64px 0 0 0;
  font-size: 70px;
  font-weight: 300;
  text-align: center;
}

.about-section h3 {
  font-size: 55px;
  margin: 48px 0;
  font-weight: 300;
  text-align: center;
}

#intro-about {
  max-width: 600px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

#intro-about button {
  background-color: var(--senary-color);
}

.about-section div:nth-child(1) p {
  text-align: center;
}

.linguaggi {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  max-width: 730px;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.linguaggi div {
  min-width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  position: relative;
}

.linguaggi img {
  width: 35px;
  transition: 0.2s 0.15s;
}

.linguaggi p {
  font-size: 16px;
  text-transform: capitalize;
  transition: 0.2s 0.15s;
  color: var(--octonary-color);
  padding: 0;
  margin: 0;
}

.linguaggi div:nth-child(1):hover p {
  color: rgb(190, 55, 6);
  font-size: 20px;
}

.linguaggi div:nth-child(1):hover img {
  width: 44px;
}

.linguaggi div:nth-child(2):hover p {
  color: rgb(20, 116, 176);
  font-size: 20px;
}

.linguaggi div:nth-child(2):hover img {
  width: 44px;
}

.linguaggi div:nth-child(3):hover p {
  color: rgb(185, 168, 13);
  font-size: 20px;
}

.linguaggi div:nth-child(3):hover img {
  width: 44px;
}
.linguaggi div:nth-child(4):hover p {
  color: rgb(202, 48, 112);
  font-size: 20px;
}

.linguaggi div:nth-child(4):hover img {
  width: 44px;
}

.linguaggi div:nth-child(5):hover p {
  color: rgb(88, 20, 133);
  font-size: 20px;
}

.linguaggi div:nth-child(5):hover img {
  width: 44px;
}

.linguaggi div:nth-child(6):hover p {
  color: rgb(35, 17, 115);
  font-size: 20px;
}

.linguaggi div:nth-child(6):hover img {
  width: 44px;
}

.linguaggi div:nth-child(7):hover p {
  color: rgb(117, 18, 130);
  font-size: 20px;
}

.linguaggi div:nth-child(7):hover img {
  width: 44px;
}

.linguaggi div:nth-child(8):hover p {
  color: rgb(172, 103, 25);
  font-size: 20px;
}

.linguaggi div:nth-child(8):hover img {
  width: 44px;
}


@media ( max-width: 992px) {

  .home {
    flex-direction: column;
    margin: 84px 80px 64px 80px;
    height: 938px;
  }

  .home h1 {
    font-size: 90px;
  }

  .home div:nth-child(1) p:nth-child(1) {
    margin-bottom: 28px;
  }

  .home div:nth-child(2) {
    width: 350px;
    height: 350px;
  }

  .home div:nth-child(1) p:nth-child(3) {
    margin-top: 28px;
  }

  .about-section {
    margin: 0 80px;
  }
}






.project-section {
  margin-bottom: 104px;
}

#works {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

#works h4 {
  font-size: 40px;
  font-weight: 400;
}


#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#intro p {
  text-align: center;
  max-width: 650px;
}


.projects {
  margin: 0 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-one,
.project-two,
.project-three {
  width: 33%;
  height: 496px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.project-one div:nth-child(2),
.project-two div:nth-child(2),
.project-three div:nth-child(2) {
  position: absolute;
  top: 60px;
}

.project-one::before,
.project-two::before,
.project-three::before {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  box-shadow: 0px 10px 7px  var(--septenary-color);
  height: 496px;
  width: 2px;
}

.project-one::after,
.project-two::after,
.project-three::after {
  position: absolute;
  top: 70px;
  left: -50px;
  font-size: 400px;
  font-weight: 300;
  z-index: -1;
}

.project-one::after {
  content: "1";
  color: var(--quinary-color);
}

.project-two::after {
  content: "2";
  color: var(--senary-color);
}

.project-three::after {
  content: "3";
  color: var(--septenary-color);
}

.projects p,
.projects h5 {
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 16px;
}

.projects h5 {
  font-size: 30px;
}

.projects p {
  font-size: 22px;
  color: var(--octonary-color)
}

.project-button {
  background-color: rgba(176, 175, 175, 0.201);
  position: absolute;
  bottom: 32px;
  left: 33%;
  border-radius: 8px;
  width: fit-content;
}

.project-button {
  display: none;
}

.project-one:hover button {
  background-color: var(--quinary-color);
  display: block;
}

.project-two:hover button {
  background-color: var(--senary-color);
  display: block;
}

.project-three:hover button {
  background-color: var(--septenary-color);
  display: block;
}

.project-button a {
  text-decoration: none;
  color: var(--secondary-color);
}


@media ( max-width: 992px) {

  .works {
    margin-bottom: 32px;
  }

  .projects {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px;
  }

  .project-one div:nth-child(2) ,
  .project-two div:nth-child(2),
  .project-three div:nth-child(2) {
    top: 0;
    left: 0;
}

  .project-one,
  .project-two,
  .project-three {
    width: 450px;
    height: 400px;
    margin-bottom: 84px;
    z-index: 3;
  }

  .projects p,
  .projects h5 {
    text-align: center;
    line-height: 32px;
    margin-left: 0;
  }

  .projects h5 {
    margin-bottom: 8px;
    font-size: 34px;
  }


  .project-one::after {
    content: "01";
  }

  .project-two::after {
    content: "02";
  }

  .project-three::after {
    content: "03";
  }

  .project-one::after,
  .project-two::after,
  .project-three::after {
    font-size: 300px;
    left: 100px;
    top: 170px;
    z-index: -2;
  }

  .project-one::before,
  .project-two::before,
  .project-three::before {
    width: 100%;
    height: 2px;
    transform: rotate(180deg);
    box-shadow: 0px 10px 4px  var(--secondary-color);
    bottom: -10px;
    z-index: -1;
  }

  .project-button {
    display: block;
    font-size: 18px;
    border-radius: 12px;
    position: absolute;
    bottom: 230px;
    left: 36%;
  }

  #btn-one {
    background-color: var(--quinary-color);
  }

  #btn-two {
    background-color: var(--senary-color);
  }
  #btn-three {
    background-color: var(--septenary-color);
  }

}


.project-view {
  
  height: 100vh;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  align-items: center;
  gap: 0;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  overflow-y: auto;
  overflow-x: hidden;
}

.project-view p {
  margin-bottom: 0;
}





#back-home {
  position: fixed;
  bottom: 60px;
  left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 100;
}

#back-home:hover {
  cursor: pointer;
}

#back-home img{
  width: 20px;
}

#back-home p {
  padding: 0;
  margin: 0;
}

#back-home a {
  text-decoration: none;
  color: var(--secondary-color);
}

#back-home a:hover {
  color: rgb(123, 122, 122);
}


footer {
  height: 150px;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

footer div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

footer p {
  font-size: 14px;
}




