@font-face {
  font-family: "made tommy" 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: "meghan";
  src: url(./font/made-tommy-regular-personal-use.otf);
  src: url(./font/Meghan.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "made tommy";
  color: black;
  scroll-behavior: smooth;
}

button{
  padding: 8px 24px;
  border: none;
  border-radius: 50%;
}

header li a,
header a {
  text-decoration: none;
  color: black;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgb(176, 195, 213);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 40px 9px 40px;
  z-index: 100;
}

.logo {
  font-size: 18px;
  text-transform: capitalize;
}

.menu-icon {
  display: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.nav-bar li {
  padding-left: 16px ;
  font-size: 1rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px 160px 16px 160px;
  height: 738px;
  gap: 16px;
}

.home h1 {
  text-align: center;
  font-family: "made tommy";
  text-transform: uppercase;
  font-size: 120px;
  margin-bottom: 0;
  line-height: 94px;
  letter-spacing: 5px;
  font-weight: 100;
  }

.home div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  margin: 0px 32px;
}

.home div:nth-child(1) p {
  text-align: center;
  color: rgb(176, 175, 175);
}

.home div:nth-child(1) p:nth-child(1) {
  margin-bottom: 44px;
}

.home div:nth-child(1) p:nth-child(3) {
  margin-top: 44px;
  margin-bottom: 0;
}

.home div:nth-child(2) {
  width: 400px;
  height: 400px;
  background-color: black;
  border-radius: 48% 52% 44% 56% / 63% 40% 60% 37%;
  overflow: hidden;
  position: relative;
}

.home div:nth-child(2) img {
  width: 400px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}


.project-section {
  margin-bottom: 104px;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#intro p {
  text-align: center;
  max-width: 550px;
}

#works {
  overflow-x: hidden;
  margin: 16px 0;
}

#works p {
  font-size: 60px;
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: 300;
}

#works p span {
  color: rgb(218, 218, 218);
  font-weight: 300;
}

.projects {
  margin: 0 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-one,
.project-two,
.project-three {
  width: 33%;
  height: 596px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.project-one div:nth-child(2),
.project-two div:nth-child(2),
.project-three div:nth-child(2) {
  position: absolute;
  top: 60px;
}

.project-one::before,
.project-two::before,
.project-three::before {
  content: "";
  position: absolute;
  background-color: rgb(250, 248, 245);
  box-shadow: 0px 10px 7px  black;
  height: 596px;
  width: 2px;
}

.project-one::after,
.project-two::after,
.project-three::after {
  position: absolute;
  top: 70px;
  left: -50px;
  font-family: "tommy made";
  font-size: 400px;
  font-weight: 300;
  z-index: -1;
}

.project-one::after {
  content: "1";
  color: rgb(143, 183, 206);
}

.project-two::after {
  content: "2";
  color: rgb(123, 157, 177);
}

.project-three::after {
  content: "3";
  color: rgb(92, 132, 167);
}

.projects h3,
.projects h4 {
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 16px;
}

.projects h4 {
  color: rgb(110, 106, 96);;
}

.project-button {
  position: absolute;
  bottom: 32px;
  left: 33%;
  border-radius: 8px;
  width: fit-content;
}

.project-button {
  transition: 0.3s 0.1s;
}

.project-one:hover button {
  background-color: rgb(143, 183, 206);
}

.project-two:hover button {
  background-color: rgb(123, 157, 177);
}

.project-three:hover button {
  background-color: rgb(92, 132, 167);
}

.project-button a {
  text-decoration: none;
  color: black;
}


@media ( max-width: 992px) {

  #works p,
  #works p span{
    font-size: 58px;
  }

  .projects {
    flex-direction: column;
    margin: 12px;
  }

  .project-one div:nth-child(2) ,
  .project-two div:nth-child(2),
  .project-three div:nth-child(2) {
    top: 0;
    left: 0;
}

  .project-one,
  .project-two,
  .project-three {
    width: 100%;
    height: 364px;
    margin-bottom: 32px;
  }

  .project-one::after,
  .project-two::after,
  .project-three::after {
    font-size: 350px;
    left: -40px;
    top: -10px;
    z-index: -1;
  }

  .project-one::before,
  .project-two::before,
  .project-three::before {
  height: 364px;
  }

  .project-button {
    font-size: 18px;
    border-radius: 12px;
    position: absolute;
    bottom: 8px;
    right: 102px;
  }
}

@media ( max-width: 768px) {
  
  .project-button {
    border-radius: 8px;
    font-size: 12px;
    position: static;
  }
}

.project-view {
  
  height: 100vh;
  width: 100%;
  padding: 80px 160px;
  flex-direction: column;
  align-items: center;
  gap: 0;
  background-color: rgb(250, 248, 245);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  overflow-y: auto;
  overflow-x: hidden;
}

.project-view p {
  margin-bottom: 0;
}











#back-home-one,
#back-home-two,
#back-home-three {
  position: fixed;
  bottom: 60px;
  left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 100;
}

#back-home-one,
#back-home-two,
#back-home-three :hover {
  cursor: pointer;
}

#back-home-one img,
#back-home-two img,
#back-home-three img{
  width: 20px;
}


#back-home-one p:hover,
#back-home-two p:hover,
#back-home-three p:hover {
  color: rgb(123, 122, 122);
}




.about-section {
  height: fit-content;
  background-color: rgb(242, 252, 255);
  margin: 0 160px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.about-section h2 {
  margin: 64px 0 32px 0;
  font-size: 93px;
  font-weight: 300;
  text-align: center;
}

.about-section h3 {
  font-size: 75px;
  margin: 48px 0;
  font-weight: 300;
  text-align: center;
}

#intro-about {
  max-width: 600px;
  margin-bottom: 32px;
}

.about-section div:nth-child(1) p {
  text-align: center;
}

.linguaggi {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  max-width: 730px;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.linguaggi div {
  min-width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  position: relative;
}

.linguaggi img {
  width: 35px;
  transition: 0.2s 0.15s;
}

.linguaggi p {
  font-size: 16px;
  text-transform: capitalize;
  transition: 0.2s 0.15s;
  color: rgb(131, 129, 129);
  padding: 0;
  margin: 0;
}

.linguaggi div:nth-child(1):hover p {
  color: rgb(190, 55, 6);
  font-size: 20px;
}

.linguaggi div:nth-child(1):hover img {
  width: 44px;
}

.linguaggi div:nth-child(2):hover p {
  color: rgb(20, 116, 176);
  font-size: 20px;
}

.linguaggi div:nth-child(2):hover img {
  width: 44px;
}

.linguaggi div:nth-child(3):hover p {
  color: rgb(185, 168, 13);
  font-size: 20px;
}

.linguaggi div:nth-child(3):hover img {
  width: 44px;
}
.linguaggi div:nth-child(4):hover p {
  color: rgb(202, 48, 112);
  font-size: 20px;
}

.linguaggi div:nth-child(4):hover img {
  width: 44px;
}

.linguaggi div:nth-child(5):hover p {
  color: rgb(88, 20, 133);
  font-size: 20px;
}

.linguaggi div:nth-child(5):hover img {
  width: 44px;
}

.linguaggi div:nth-child(6):hover p {
  color: rgb(35, 17, 115);
  font-size: 20px;
}

.linguaggi div:nth-child(6):hover img {
  width: 44px;
}

.linguaggi div:nth-child(7):hover p {
  color: rgb(117, 18, 130);
  font-size: 20px;
}

.linguaggi div:nth-child(7):hover img {
  width: 44px;
}

.linguaggi div:nth-child(8):hover p {
  color: rgb(172, 103, 25);
  font-size: 20px;
}

.linguaggi div:nth-child(8):hover img {
  width: 44px;
}


footer {
  height: 300px;
  background-color: rgb(176, 195, 213);
}
