body {
  background-color: var(--primary-color);
  margin: 64px 160px 100px 160px;
}

#intro-graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-bottom: 100px;
}

#intro-graphic h1 {
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: center;
  text-transform: capitalize;
}

#intro-graphic p {
  text-align: center;
  max-width: 550px;
}

.presentazione {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  margin: 0;
}

.presentazione div {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.presentazione div img{
  width: 800px;
}

#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  width: fit-content;
  left: 45%;
  right: 45%;
  padding: 10px 15px;
  background-color: #8eb2d8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100;
}

@media ( max-width: 768px) {

  body {
    margin-left: 80px ;
    margin-right: 80px ;
  }

  .presentazione div {
    width: 600px;
  }

  .presentazione div img {
    width: 500px;
  }
}

